* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: blueviolet;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

header h1 {
    color: whitesmoke;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 13em;
    padding: 1em;
}

form input {
    margin-bottom: .5em;
}

button {
    background-color: lightskyblue;
    border-color: blue;
    cursor: hand;
}

.results {
    display: flex;
    flex-direction: column;
}

.city-weather {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    margin: 1em;
    padding: 1em;
}

.city-weather h2 {
    font-size: 1.5em;

}
.city-weather p {
    font-size: 1.2em;
    padding: .15em;
}

.forcasts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
    
}

.card {
    background-color: slategray;
    border: 2px solid black;
    flex-direction: column;
    align-content: space-between;
    justify-items: flex-start;
    flex: 0 1 auto;
    height: 9em;
    width: 10em;
    margin: 1em;
    padding: 1em;
}

h4 {
    font-size: 1.2em;
    color: whitesmoke;
    padding-bottom: 1em;
}
h5 {
    font-size: 1em;
    color: whitesmoke;
    padding-bottom: 1em;

}

