* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    

}


header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 4em;
    width: 100vw;
}

h1 {
    color: white;
    font-size: 2em;
    
}


nav {
    position:absolute;
    align-items: flex-start;
    justify-content: flex-start;
}

.daily-cards {
    display: flex;
    flex-direction: row;
    
}